<div class="jumbotron">
  <h1 class="display-4">Sistema de controle de estroque de lojas.</h1>
  <p class="lead">Aqui você poderá ter um maior controle sobre o estoque das lojas de sua empresa, 
    contando com uma plataforma completa de cadastro e atualização de produtos.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/real-yan/teste-nodejs/blob/master/README.md" role="button">Learn more</a>
</div>
